
A:link{color:#0000cc; text-decoration:none;}
A:visited{color:#0000cc; text-decoration:none;}
A:active{color:#0000cc; text-decoration:none;}
A:hover{color:#33cc99; text-decoration:none;}


BODY{
	margin-top: 16px;
	background-color:#FFFFFF; 
	font-size:10pt;
	font-family:'‚l‚r@‚oƒSƒVƒbƒN';
	line-height:150%;
	text-indent: 1em;
}

TABLE{
	cellpadding: 4px;
}

TH,TD.main{
	font-size:10pt;
	font-family:'‚l‚r@‚oƒSƒVƒbƒN';
	line-height:150%;
	text-indent: 1em;
}

TH,TD{
	font-size:10pt;
	font-family:'‚l‚r@‚oƒSƒVƒbƒN';
	line-height:150%;
}
